{% extends '::backend.html.twig' %}
        
{% block content %}
    <h1>{{title|trans}}</h1>
    <div class="content box grid_12 round_all">
        <form class="block" action="{{ path('admin_order_order_cancel', {'id': id}) }}" method="post" {{form_enctype(form)}}>
            {{ form_widget(form) }}

            <input type="submit" value="Cancelar pedido"/>
        </form>
    </div>
{% endblock %}