/* Geral */
body {
  font-family: Arial, Verdana;
  background-color: #FFF;
  color: #666;
  background: url(../images/header/bg.png) repeat-x;
}

a {
  color: #029116;
  text-decoration: none;
}

a:hover {
  color: #D87D08;
}

strong
{
    font-weight: bold;
}

em
{
    font-style: italic;
}

h1, h2, h3
{
    color: #666;
}
#closeNL{margin-top:6px;}
.closeAlert, #closeNL{float: right; background: url('../images/sprite.png') no-repeat -4px -26px; width: 30px; height: 30px; text-indent: -9999em; overflow: hidden; outline: none;}
.closeAlert:hover, #closeNL:hover{background-position: -4px -56px;}
.alert{
    color: #FFF;
    height: 40px;
    display: none;
}
.alert div.container_12 {
    height: 26px;
    padding: 7px 0;
}
.alert_error{
      background: #a60000;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb0000', endColorstr='#a60000');
      background: -webkit-gradient(linear, left top, left bottom, from(#eb0000), to(#a60000));
      background: -moz-linear-gradient(top, #eb0000, #a60000);
}
.alert_success{
      background: #007b03;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08b40d', endColorstr='#007b03');
      background: -webkit-gradient(linear, left top, left bottom, from(#08b40d), to(#007b03));
      background: -moz-linear-gradient(top, #08b40d, #007b03);   
}
.alert_notice{
      background: #00388b;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#146aea', endColorstr='#00388b');
      background: -webkit-gradient(linear, left top, left bottom, from(#146aea), to(#00388b));
      background: -moz-linear-gradient(top, #146aea, #00388b);   
}
.noBG{background: transparent; border: 0; text-shadow:none;}
.hidden{display: none;}
span.arrow{float: left; background: url('../images/sprite.png') no-repeat -5px -3px; width: 30px; height: 19px; margin-top: 5px; margin-right: 10px;}
.floatL{float: left}
.floatR{float: right}

/*/Geral */

/* Header */
#labelNL{color: #FFF; font-size: 1.2em; float: left; line-height: 30px; margin-right: 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);}
#topNL{
  background: #c770008;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8C00', endColorstr='#c77000');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#FF8C00), to(#c77000));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #FF8C00, #c77000);
  /* for firefox 3.6+ */
  height: 40px;
  display: none;
}
#cityNL{width: 200px;}
#mailNL{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 15px;
    margin-left: 5px;
    height: 23px;
}
#mailNL.idleField{
    color: #999;
    border: 2px solid #DF7F06;
    padding: 1px 1px 1px 9px;
    background: #FFF;
}
#mailNL.focusField{
    color: #666;
    border: 2px solid #c56e00;
    padding: 1px 1px 1px 9px;
    background: #fff4e6;
}
#formNL{padding: 5px 0; height: 30px;}
#hd_wrap { /* Div que cobre todo o header */

}
#hd {/* Div que cobre o header 960 */}


#logo {height: 87px;}
#logo a{height: 87px; width: 380px; float: left; background: url(../images/header/ReUrbano.png) no-repeat; text-indent: -9999em; overflow: hidden;}
#cities{height: 58px; line-height: 40px;}
#login{height: 28px; text-align: right;}
#menuTop, #menuMain{height: 34px;}
#menuMain{}
#menuCat{height: 41px;}
#bannerHome{height: 335px; margin-top: 20px;}

#menuTop ul{margin: 3px 0; float: right; font-size: 1.1em; font-weight: 700}
#menuTop ul li{float: left; margin-left: 10px; list-style: none outside none;}
#menuTop ul li a{color: #D87D08; border: 0;}
#menuTop ul li.current a{color: #7A9D24; text-decoration: none;}
#menuTop ul li a:hover{color: #2072a5; text-decoration: none; background: transparent;}
#headUser{text-align: right; margin-top: 5px; height: 32px;}
#headUser span{margin-right: 5px}

#search{height: 83px; background: url(../images/header/search.png) no-repeat;}
#search form{margin-left: 45px; height: 65px; padding-top: 18px;}
#search #q{width: 390px; padding-left: 10px; height: 28px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	font-size: 15px;
}
#search #q.idleField{
    color: #999;
    border: 1px solid #d9d9d9;
    padding: 2px 2px 2px 10px;
    background: #f6f6f6;
}
#search #q.focusField{
    color: #666;
    border: 2px solid #d9d9d9;
    padding: 1px 1px 1px 9px;
    background: #FFF;
}
.twLoginBtn, .fbLoginBtn{margin: 5px 0 0 5px; float: left; background: url('../images/sprite.png') no-repeat; width: 136px; height: 22px; text-indent: -9999em; overflow: hidden; line-height: 500px;}
.twLoginBtn{background-position: -181px -4px;}
.twLoginBtn:hover{background-position: -181px -31px;}
.fbLoginBtn{background-position: -41px -4px;}
.fbLoginBtn:hover{background-position: -41px -31px;}

/* Lista e Combo de Cidades */
#cityLabel{
    font-weight: 700;
    font-size: 1.1em;
    margin-top: 5px;
    float: left;
}
#cityCombo{
    font-size: 1.5em;
    margin: 10px 0 0 10px;
    float: left;
    width: 270px;
}
#cityCombo a{
    color: #999;
}


#listCities{
    background: #15567F;
    box-shadow: 0 -2px 2px #0D0D0D;
    padding: 5px 10px;
    width: 920px;
    float: left;
    margin: 0 10px 10px 10px;
    display: none;
}
#listCities h2{
    color: #FFF;
    font-size: 1.3em;
    margin-bottom: 0.5em;;
}
#listCities ul{
    list-style: none outside none;
    margin: 0;
}
#listCities ul li{
    float: left;
    width: 20%;
    line-height: 22px;
    margin: 0;
}
#listCities ul li a{
    background: #6c9ab7;
    color: #003454;
    display: block;
    border: 1px solid #71a4c5;
    margin: 3px;
    padding: 1px 3px;
    font-weight: 700;
}
#listCities ul li a:hover{
    background: #FFF;
    color: #15567F;
    border: 1px solid #2090D6;
}
#listCities ul li a.selected{
    background: #FFF;
    color: #666;
    border: 1px solid #333;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

/* /Header */

/* Body */
#bd_wrap { /* Div que cobre todo o Body */
  padding-bottom: 1em;
}
#bd {
    /* Div que cobre o body 960 */
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #E5E5E5;
}

#navbar {
	float: right;
	top: 60px;
        width: 450px;
}

#navbar a {
	border: none;
	border-left:1px solid #DDDDDD;
	font-size:1em;
	padding:0.5em 1em;
	text-decoration:none;
	color:		#E7E5E5; 
	background: none;
}

#navbar a.first {
	border:0 none;
}

#navbar a:hover { text-decoration: none; }
#navbar a:visited { text-decoration: none; }
#navbar a:active { text-decoration: none; }
#navbar a.active { 
   border-bottom: 3px solid #222;
}

/*Lista de Deals*/
.dealBox{}
.deal{margin:5px 0;}
.deal .dealThumb {position: relative;}
.deal .dealThumb a{width: 140px; height: 100px; float: left; overflow: hidden;}
.deal .dealThumb a img{width: 140px; height: 100px;}
span.discount{
    background: #7A9D24;
    color: #FFF;
    font-weight: 700;
    left: 0;
    padding: 2px 3px;
    position: absolute;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-right-radius: 7px;
}
span.discount.high{background: #D87D08;}
span.discount.medium{background: #15567F;}

div.priceSource{}
div.priceSource strong{text-decoration: line-through}
div.price{}
div.price strong{font-size: 2em;}
/* /Body */

/* Footer */
#ft_wrap { /* Div que cobre todo o Footer */
  background: url(../images/footer/bg.png) repeat-x;
}
#ft {/* Div que cobre o footer 960 */}
#ftBelt{height: 118px; margin-bottom: 15px;}
#ftBelt a{width: 300px; height: 118px; float: left; background: url(../images/footer/ReUrbano.png) no-repeat; text-indent: -9999em; overflow: hidden;}
#navFoot{text-align: left; border-bottom: 1px solid #BBB; margin-bottom: 10px;}
#navFoot ul li{list-style: none outside none; margin-left: 15px;}

#copyright {text-shadow: 1px 1px 0 #FFF;color: #999;}
#poweredBy{text-align: right;}
#poweredBy a{width: 177px; height: 28px; float: right; background: url(../images/footer/mastop-internet-development.png) no-repeat; line-height: 999em; overflow: hidden;}
/* /Footer */