/* Geral */
body {
  font-family: Arial, Verdana;
  background-color: #FFF;
  color: #666;
  background: url(../images/header/bg.png) repeat-x;
}

a {
  color: #029116;
  text-decoration: none;
}

a:hover {
  color: #D87D08;
}

a:visited {
  background: #029116;
  color: #000;
}

strong
{
    font-weight: bold;
}

em
{
    font-style: italic;
}

h1, h2, h3
{
    color: #666;
}
.closeAlert, #closeNL{float: right; background: url('../images/sprite.png') no-repeat -4px -26px; width: 30px; height: 30px; text-indent: -9999em; overflow: hidden; outline: none;}
.closeAlert:hover, #closeNL:hover{background-position: -4px -56px;}
.alert{
    color: #FFF;
    height: 40px;
    display: none;
}
.alert div.container_12 {
    height: 26px;
    padding: 7px 0;
}
.alert_red{
      background: #E50606;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FC6F6F', endColorstr='#E50606');
      background: -webkit-gradient(linear, left top, left bottom, from(#FC6F6F), to(#E50606));
      background: -moz-linear-gradient(top, #FC6F6F, #E50606);
}
.alert_green{
      background: #00AA00;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2AD34C', endColorstr='#00AA00');
      background: -webkit-gradient(linear, left top, left bottom, from(#2AD34C), to(#00AA00));
      background: -moz-linear-gradient(top, #2AD34C, #00AA00);   
}
.alert_grey{
      background: #888888;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BBBBBB', endColorstr='#888888');
      background: -webkit-gradient(linear, left top, left bottom, from(#BBBBBB), to(#888888));
      background: -moz-linear-gradient(top, #BBBBBB, #888888);   
}
.noBG{background: transparent; border: 0; text-shadow:none;}
.hidden{display: none;}
span.arrow{float: left; background: url('../images/sprite.png') no-repeat -5px -3px; width: 30px; height: 19px; margin-top: 5px; margin-right: 10px;}
/*/Geral */

/* Header */
#labelNL{color: #FFF; font-size: 1.2em;}
#topNL{
  background: #D87D08;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8C00', endColorstr='#D87D08');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#FF8C00), to(#D87D08));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #FF8C00, #D87D08);
  /* for firefox 3.6+ */
  height: 40px;
  display: none;
}
#mailNL{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 15px;
}
#mailNL.idleField{
    color: #999;
    border: 1px solid #c8c8c8;
    padding: 2px 2px 2px 10px;
    background: #f2f2f2;
}
#mailNL.focusField{
    color: #666;
    border: 2px solid #DF7F06;
    padding: 1px 1px 1px 9px;
    background: #fff;
}
#formNL{padding: 5px 0; height: 30px;}
#hd_wrap { /* Div que cobre todo o header */

}
#hd {/* Div que cobre o header 960 */}


#logo {height: 87px;}
#logo a{height: 87px; width: 380px; float: left; background: url(../images/header/ReUrbano.png) no-repeat; text-indent: -9999em; overflow: hidden;}
#cidades{height: 58px;}
#login{height: 28px;}
#menuTop, #menuMain{height: 34px;}
#menuMain{}
#menuCat{height: 41px;}
#bannerHome{height: 335px; margin-top: 20px;}

#menuTop ul{margin: 3px 0; float: right}
#menuTop ul li{float: left; margin-left: 10px; list-style: none outside none;}
#menuTop ul li a{color: #029116; border: 0;}
#menuTop ul li.current a{color: #15567F; text-decoration: none;}
#menuTop ul li a:hover{color: #D87D08; text-decoration: none; background: transparent;}
#headUser{text-align: right; margin-top: 5px; height: 32px;}
#headUser span{margin-right: 5px}

#search{height: 83px; background: url(../images/header/search.png) no-repeat;}
#search form{margin-left: 45px; height: 65px; padding-top: 18px;}
#search #q{width: 390px; padding-left: 10px; height: 27px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	font-size: 15px;
}
#search #q.idleField{
    color: #999;
    border: 1px solid #c8c8c8;
    padding: 2px 2px 2px 10px;
    background: #f2f2f2;
}
#search #q.focusField{
    color: #666;
    border: 2px solid #DF7F06;
    padding: 1px 1px 1px 9px;
    background: #FFF;
}

/* /Header */

/* Body */
#bd_wrap { /* Div que cobre todo o Body */
  padding-bottom: 3em;
  padding-top: 3em;
}
#bd {min-height: 400px;background: #FFF; /* Div que cobre o body 960 */}

#navbar {
	float: right;
	top: 60px;
        width: 450px;
}

#navbar a {
	border: none;
	border-left:1px solid #DDDDDD;
	font-size:1em;
	padding:0.5em 1em;
	text-decoration:none;
	color:		#E7E5E5; 
	background: none;
}

#navbar a.first {
	border:0 none;
}

#navbar a:hover { text-decoration: none; }
#navbar a:visited { text-decoration: none; }
#navbar a:active { text-decoration: none; }
#navbar a.active { 
   border-bottom: 3px solid #222;
}
/* /Body */

/* Footer */
#ft_wrap { /* Div que cobre todo o Footer */
  background: url(../images/footer/bg.png) repeat-x;
}
#ft {/* Div que cobre o footer 960 */}
#ftBelt{height: 118px; margin-bottom: 15px;}
#ftBelt a{width: 300px; height: 118px; float: left; background: url(../images/footer/ReUrbano.png) no-repeat; text-indent: -9999em; overflow: hidden;}
#navFoot{text-align: left; border-bottom: 1px solid #BBB; margin-bottom: 10px;}
#navFoot ul li{list-style: none outside none; margin-left: 15px;}

#copyright {text-shadow: 1px 1px 0 #FFF;color: #999;}
#poweredBy{text-align: right;}
#poweredBy a{width: 177px; height: 28px; float: right; background: url(../images/footer/mastop-internet-development.png) no-repeat; line-height: 999em; overflow: hidden;}
/* /Footer */