/* Geral */
body {
  font-family: "Lucida Grande", Arial, Verdana;
  background-color: #FFF;
  color: #333;
  background: url(../images/header/bg.png) repeat-x;
}

a {
  color: #7A9D24;
  text-decoration: none;
}

a:hover {
  color: #15567F
}

a:visited {
  background: #ccc;
  color: #000;
}

strong
{
    font-weight: bold;
}

em
{
    font-style: italic;
}

h1, h2, h3
{
    color:          #404040;
}

/*/Geral */

/* Header */
#hd_wrap { /* Div que cobre todo o header */

}
#hd {/* Div que cobre o header 960 */}


#logo {height: 87px;}
#logo a{height: 87px; width: 380px; float: left; background: url(../images/header/ReUrbano.png) no-repeat; text-indent: -9999em; overflow: hidden; clear: both;}
#cidades{height: 58px;}
#login{height: 28px;}
#menuTop, #menuMain{height: 34px;}
#search{height: 83px; background: url(../images/header/search.png) no-repeat;}
#menuMain{}
#menuCat{height: 41px;}
#bannerHome{height: 335px; margin-top: 20px;}

#menuTop ul{margin: 3px 0; float: right}
#menuTop ul li{float: left; margin-left: 10px; list-style: none outside none; font-size: 0.8em;}
#menuTop ul li a{color: #029116; border: 0;}
#menuTop ul li.current a{color: #333; text-decoration: underline;}
#menuTop ul li a:hover{text-decoration: underline; background: transparent;}
#headUser{text-align: right; margin-top: 5px; height: 32px;}
#headUser span{margin-right: 5px}
/* /Header */

/* Body */
#bd_wrap { /* Div que cobre todo o Body */
  padding-bottom: 3em;
  padding-top: 3em;
}
#bd {min-height: 400px;background: #FFF; /* Div que cobre o body 960 */}

#navbar {
	float: right;
	top: 60px;
        width: 450px;
}

#navbar a {
	border: none;
	border-left:1px solid #DDDDDD;
	font-size:1em;
	padding:0.5em 1em;
	text-decoration:none;
	color:		#E7E5E5; 
	background: none;
}

#navbar a.first {
	border:0 none;
}

#navbar a:hover { text-decoration: none; }
#navbar a:visited { text-decoration: none; }
#navbar a:active { text-decoration: none; }
#navbar a.active { 
   border-bottom: 3px solid #222;
}
/* /Body */

/* Footer */
#ft_wrap { /* Div que cobre todo o Footer */
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#fafafa));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #dfdfdf, #fafafa);
  /* for firefox 3.6+ */
  color: #555;
  font-size: 1em;
  padding: 2em;
  text-align: center;
}
#ft {/* Div que cobre o footer 960 */}
#navFoot{text-align: left; border-bottom: 1px solid #BBB; margin-bottom: 10px;}
#navFoot ul li{list-style: none outside none; margin-left: 15px;}

span#copyright {text-shadow: 1px 1px 0 #FFF;color: #999;}
/* /Footer */