{% extends '::frontend.html.twig' %}

{% block title %}{{ titulo }}{% endblock %}
{% block content %}
<div class='grid_12'>
    <h1>{{ titulo }}</h1>
    <h2>Considerações iniciais:</h2>
    <p>
        O REURBANO é um site hospedado sob o domínio www.reurbano.com.br, de propriedade do Reurbano ATIVIDADES DE INTERNET LTDA, 
        registrado no CNPJ/MF sob o nº 12.862.516/0001-24, doravante denominada “REURBANO”, e disponibilizado dentro do site http://www.reurbano.com.br/ ("SITE").
    </p>
    <p>
        Qualquer pessoa, doravante denominada “Usuário”, que pretenda utilizar os serviços do REURBANO deverá aceitar os Termos e Condições Gerais, 
        e todas as demais políticas e princípios que o regem. A ACEITAÇÃO DO TERMO DE USO É ABSOLUTAMENTE INDISPENSÁVEL À UTILIZAÇÃO DO WEBSITE E SEUS SERVIÇOS.
    </p>
    <p>
        O SITE oferece um mercado onde pessoas (“VENDEDORES”) que tenham comprado CUPONS de desconto (“CUPOM”) online de sites de terceiros (“SITE EMISSOR”) 
        podem revender esses CUPONS para pessoas (“COMPRADORES”) interessadas em comprar produtos e serviços de ESTABELECIMENTOS comerciais referenciados nos CUPONS (“ESTABELECIMENTO”)
    </p>
    <p>
        O Usuário deverá ler, certificar-se de haver entendido e aceitar todas as condições estabelecidas nos Termos e Condições Gerais e nas Políticas de Privacidade, 
        assim como nos demais documentos incorporados aos mesmos por referência, antes de seu cadastro como Usuário do REURBANO.
    </p>
    <h2>Nossos Serviços</h2>
    <p>
        O SITE serve como um mercado onde os VENDEDORES são capazes de anunciar ofertas para a venda de CUPONS e os COMPRADORES são capazes de pesquisar e comprar CUPONS. 
        O REURBANO não emite os CUPONS e não possuí vínculos com nenhum SITE EMISSOR, não é responsável pelos serviços prestados e/ou produtos oferecidos pelos ESTABELECIMENTOS. 
        Os Sites Emissores e os ESTABELECIMENTOS, e não o REURBANO, são responsáveis por honrar plenamente e executar todos os CUPONS, de acordo com os termos de cada CUPOM. 
        O REURBANO não assume nenhuma responsabilidade por quaisquer serviços e/ou produtos adquiridos através dos CUPONS, incluindo, sem limitação, questões relativas a qualidade, 
        segurança, usabilidade, ou outros aspectos dos serviços ou produtos dos ESTABELECIMENTOS. O REURBANO não revisa, verifica ou endossa qualquer ESTABELECIMENTO ou serviços e 
        produtos oferecidos pelos ESTABELECIMENTOS. Quaisquer problemas ou questões que você possa ter relacionados aos produtos ou serviços oferecidos pelos ESTABELECIMENTOS 
        devem ser tratados e resolvidos diretamente com o respectivo ESTABELECIMENTO. O REURBANO se reserva o direito, a seu livre critério, de cancelar qualquer compra de CUPOM 
        ou excluir qualquer CUPOM do SITE a qualquer momento.
    </p>
    <h3>Nossa Garantia</h3>
    <p>
        Nós queremos que os COMPRADORES fiquem satisfeito com as suas compras no SITE. Por favor veja nossa Garantia válida para CUPONS que não forem honrados pelos 
        ESTABELECIMENTOS. Essa Garantia pode se alterar de tempos em tempos, visando seu aprimoramento e melhoria, portanto, sempre a revise antes de realizar uma compra 
        A Garantia em vigor no momento da compra será válida independentemente se a Garantia for posteriormente modificada.
    </p>
    <h3>Vendendo e comprando CUPONS</h3>
    <p>
        Os COMPRADORES irão pagar pelos CUPONS utilizando as formas de pagamento disponibilizadas pelo SITE, que podem variar de tempos em tempos. 
        O pagamento é feito diretamente para o REURBANO. O VENDEDOR receberá o valor referente à venda do CUPOM descontado das taxas administrativas cobradas pelo SITE, 
        por meio de depósito em conta corrente indicada pelo VENDEDOR em seu cadastro no SITE. O pagamento para o VENDEDOR é feito diretamente pelo REURBANO.
    </p>
    <p>
        Como mencionado anteriormente, o REURBANO não é um VENDEDOR de CUPONS por meio do SITE. O SITE é apenas uma plataforma ou um mercado onde os VENDEDORES são capazes 
        de anunciar ofertas para a venda de CUPONS e os COMPRADORES são capazes de pesquisar e comprar CUPONS.
    </p>
    <p>
        Ao anunciar um CUPOM no SITE. O VENDEDOR autoriza o REURBANO a transferir o CUPOM para o COMPRADOR assim que for confirmado o processamento do pagamento realizado 
        pelo COMPRADOR para o REURBANO. O VENDEDOR garante que todo CUPOM ofertado no SITE é válido, não foi utilizado, não é fraudulento e é utilizável.
    </p>
    <p>
        Se um CUPOM vendido por um VENDEDOR é inválido, já foi usado, é fraudulenta, ou inutilizável em conformidade com os termos e condições do Cupom, então o VENDEDOR 
        concorda em abdicar do recebimento do pagamento ou, caso já tenha recebido o pagamento, o VENDEDOR concorda em reembolsar os pagamentos recebidos diretamente para 
        o REURBANO, que se encarregará de reembolsar o COMPRADOR pelo preço da compra.
    </p>
    <p>
        Todas as compras são finais e não há nenhum reembolso para compras feitas por COMPRADORES, salvo se autorizado pelo REURBANO ou aprovado pelo VENDEDOR.
    </p>
    <p>
        O REURBANO não se responsabiliza pelas obrigações tributárias que recaiam sobre as atividades dos USUÁRIOS do SITE. Assim como estabelece a legislação pertinente 
        em vigor, o USUÁRIO deverá exigir nota fiscal do ESTABELECIMENTO em suas transações.
    </p>
    <h3>Pagamentos realizados pelo VENDEDOR</h3>
    <p>
        Os VENDEDORES são obrigados a pagar uma taxa administrativa para o REURBANO pela transação de venda de CUPOM. Consulte a nossa taxa atuaL (tabela de tarifas 
        vigentes). As tarifas podem ser alteradas a qualquer momento mediante aviso prévio de 30 dias, contados após a publicação das novas tarifas na tabela de 
        tarifas, envio de e-mail para o endereço de e-mail cadastrado na sessão “Minha Conta” do VENDEDOR ou por qualquer outro método razoável determinado pelo 
        REURBANO. As taxas administrativas da transação são automaticamente descontadas do pagamento feito ao VENDEDOR pelo REURBANO.
    </p>    
    <h3>Transferencia de CUPONS</h3>
    <p>
        Os CUPONS serão transferidos para os COMPRADORES após a confirmação do processamento do pagamento, e os VENDEDORES aqui autorizam o REURBANO a fazer tal 
        transferência. Se um COMPRADOR perde o CUPOM, ou o CUPOM é roubado, ou a conta do COMPRADOR é acessada por qualquer pessoa com ou sem autorização do 
        COMPRADOR e, o CUPOM é assim usado por outra pessoa, então o COMPRADOR não será capaz de recuperar o valor do CUPOM.
    </p>
    <p>
        O REURBANO não se responsabiliza por qualquer perda, roubo ou uso fraudulento de qualquer CUPOM cuja compra tenha sido feita pelo COMPRADOR por meio do SITE.
    </p>
    <h3>Termos e restrições do CUPOM</h3>
    <p>
        Os CUPONS estão sujeitos a termos, condições e restrições especificas, impostas pelos ESTABELECIMENTOS, SITES EMISSORES e legislação aplicável. 
        Os COMPRADORES são responsáveis por analisar e se familiarizem com todas as restrições aplicáveis antes de comprar um CUPOM no SITE.
    </p>
    <h2>Obrigações dos USUÁRIOS:</h2>
    <h3>Cadastro:</h3>
    <p>
        Os serviços do REURBANO estão disponíveis apenas para as pessoas que tenham capacidade legal para contratá-los. Não podem utilizá-los, assim, 
        pessoas que não gozem dessa capacidade, inclusive menores de idade, ou pessoas que tenham sido inabilitadas do REURBANO temporária ou definitivamente.
    </p>
    <p>
        Ao utilizar os serviços do REURBANO, o USUÁRIO declara e garante que:
    <ul>
        <li>todas as informações de cadastro fornecidas são verdadeiras e acuradas;</li>
        <li>vai manter sempre atualizadas tais informações;</li>
        <li>vai manter a sua senha confidencial e será responsável pelo uso de sua senha e conta;</li>
        <li>o seu uso dos serviços do REURBANO não viola qualquer lei ou regulamento aplicável.</li>
    </ul>
</p>
<p>
    Se você fornecer qualquer informação que seja falsa, inexata, não atual ou incompleta, ou o REURBANO tiver motivos razoáveis para suspeitar que tais informações 
    sejam falsas, incorretas, desatualizadas ou incompletas, o REURBANO tem o direito de suspender ou encerrar a conta do USUÁRIO e recusar todo e qualquer uso, 
    atual ou future, do SITE (ou qualquer parte dele).
</p>
<p>
    Também não é permitido que uma mesma pessoa tenha mais de um cadastro. Se o REURBANO detectar cadastros duplicados, através do sistema de verificação de dados, 
    irá inabilitar definitivamente todos os cadastros.
</p>
<p>
    O REURBANO se reserva o direito de utilizar todos os meios válidos e possíveis para identificar seus USUARIOS, bem como de solicitar dados adicionais e documentos 
    que estime serem pertinentes a fim de conferir os dados pessoais informados. Caso o REURBANO decida checar a veracidade dos dados cadastrais de um USUÁRIO e se 
    constate haver entre eles dados incorretos ou inverídicos, ou ainda caso o USUARIO se furte ou negue a enviar os documentos requeridos, o REURBANO poderá bloqueá-lo 
    para utilizar os serviços do SITEs, ou ainda suspender temporariamente ou cancelar definitivamente o cadastro do USUÁRIO, sem prejuízo de outras medidas que 
    entender necessárias e oportunas.
</p>
<p>
    Havendo a aplicação de qualquer das sanções acima referidas, automaticamente serão canceladas as compras dos COMPRADORES e vendas dos VENDEDORES junto ao SITE, 
    não assistindo ao USUÁRIO, por essa razão, qualquer sorte de indenização ou ressarcimento.
</p>
<p>
    O USUÁRIO compromete-se a notificar o REURBANO imediatamente, e através de meio seguro, a respeito de qualquer uso não autorizado de sua conta, bem como o acesso 
    não autorizado por terceiros à mesma. O USUÁRIO será o único responsável pelas operações efetuadas em sua conta, uma vez que o acesso à mesma só será possível 
    mediante a apresentação da senha, cujo conhecimento é exclusivo do USUÁRIO.
</p>
<p>
    Em nenhuma hipótese será permitida a cessão, venda, aluguel ou outra forma de transferência da conta. Também não se permitirá a manutenção de mais de um cadastro 
    por uma mesma pessoa, ou ainda a criação de novos cadastros por pessoas cujos cadastros originais tenham sido cancelados por infrações às políticas do REURBANO.
</p>
<h3>Fornecimento de conteúdo pelo USUÁRIO:</h3>
<p>
    O USUÁRIO é inteiramente responsável pelo conteúdo publicado nas partes interativas do SITE (CONTRIBUIÇÃO) e quaisquer danos resultantes destas publicações. 
    Ao criar ou fazer uma CONTRIBUIÇÃO, o USUÁRIO atesta e garante que:
<ul>
    <li>a criação, distribuição, transmissão, exibição pública, acesso, transferência, donwload e cópia de sua CONTRIBUIÇÃO não irá infringir os direitos de 
        propriedade, incluindo, mas não limitada ao direito autoral, direito de patentes, marcas registradas ou direitos morais de terceiros;</li>
    <li>é o criador e proprietário ou possuí as licenças necessárias, direitos, consentimentos, autorizações e permissões para usar e autorizar o REURBANO e 
        os USUÁRIOS do site a usar as CONTRIBUIÇÕES, e, se necessário exercer as licenças concedidas pelo USUÁRIO nas circunstâncias do presente acordo;</li>
    <li>a sua CONTRIBUIÇÃO não contem quaisquer vírus, worms, cavalos de Tróia, código malicioso ou conteúdo prejudicial ou destrutivo, entre outros;</li>
    <li>a sua CONTRIBUIÇÃO não contem quaisquer vírus, worms, cavalos de Tróia, código malicioso ou conteúdo prejudicial ou destrutivo, entre outros;</li>
    <li>a sua CONTRIBUIÇÃO não objetiva prejudicar ou causar danos ao SITE ou a outros USUÁRIOS;</li>
    <li>a sua CONTRIBUIÇÃO não é obscena, indecente, lasciva, suja, violenta, de assédio ou de outra forma (conforme determinado pelo REURBANO), 
        difamatória ou caluniosa, não incita, promove ou ameaça danos físicos contra outras pessoas, não viola qualquer lei aplicável, regulamento ou 
        regra, e não viole os direitos de privacidade ou publicidade de terceiros;</li>
    <li>a sua CONTRIBUIÇÃO não contém material que solicita informações pessoais de nenhuma pessoa com menos de 18 anos ou explora menores de 18 de 
        uma forma sexual ou violenta, e que não viola a legislação federal ou estadual relativas à pornografia infantil ou proteção a saúde ou bem-estar 
        dos menores;</li>
    <li>a sua CONTRIBUIÇÃO não viola qualquer lei estadual ou federal concebidas para regulamentar a publicidade eletrônica;</li>
    <li>a sua CONTRIBUIÇÃO não é formada por declarações polêmicas com o único propósito de gerar respostas de outros;</li>
    <li>a sua CONTRIBUIÇÃO não constitui, contem, instala ou tenta instalar ou promover spyware, malware ou outro código de computador, nos equipamentos 
        do REURBANO ou terceiros concebidos para permitir que o USUÁRIO ou outras pessoas obtenham informações de outras partes;</li>
    <li>a sua CONTRIBUIÇÃO não inundará o site com comunicações ou qualquer outro tipo de tráfego sugerindo que não houve intenção séria de usar o 
        SITE para o fim indicado;</li>
    <li>a sua CONTRIBUIÇÃO não violará, ou oferecerá links para materiais que viole qualquer disposição do presente acordo ou qualquer lei aplicável ou 
        regulamento;</li>
    <li>a sua CONTRIBUIÇÃO não conterá imagens, dados, audio ou arquivos visuais, ou qualquer outro conteúdo que é excessivo em tamanho, ultrapassando 
        os limites determinado pelo REURBANO a seu exclusivo critério.</li>
</ul>
</p>
<h3>CONTRIBUIÇÃO especifica do VENDEDOR:</h3>
<p>
    O VENDEDOR declara e garante que: (i) é proprietário dos CUPONS e têm o direito legal de vender os CUPONS, (ii) os CUPONS oferecidos para venda são 
    válidos, transferível, não utilizados e não expirado, (iii) todas as informações, dados e links fornecidos sobre os cupons são completas e precisas, 
    e (iv) não viola qualquer lei, estatuto ou regulamento, incluindo sem limitação, leis e regulamentos que regem o conteúdo, controle de exportação, 
    certificados de presente e atividades promocionais afins.
</p>
<h2>Direito sobre as CONTRIBUIÇÕES</h2>
<p>
    Ao enviar CONTRIBUIÇÕES para qualquer parte do SITE, você automaticamente concede e garante que tem o direito de conceder ao REURBANO uma licença irrevogável, 
    perpétua, não exclusiva, transferível, a título gratuito, totalmente paga, em todo o mundo para usar, copiar, executar publicamente, exibir publicamente, 
    reformatar, traduzir trechos (no todo ou em parte) e distribuir tais contribuições para qualquer finalidade, publicidade, comercial ou de outra forma, ou em 
    conexão com o SITE ou para promoção do mesmo, além de conceder e autorizar sub-licenças do precedente. A utilização e distribuição pode ocorrer em qualquer 
    formato de mídia e através de qualquer canal de mídia com o objetivo de publicar e promover sua CONTRIBUIÇÃO em conexão com os serviços oferecidos ou a serem 
    oferecidos pelo REURBANO. A utilização desta licença de distribuição será aplicável a qualquer forma, mídia ou tecnologia atualmente conhecida ou posteriormente 
    desenvolvida. Ao submeter suas CONTRIBUIÇÕES, você garante que suas contribuições estão livres de qualquer gestão de direitos digitais, incluindo qualquer 
    software projetado para limitar o número de vezes que as contribuições podem ser copiados ou reproduzidos. Você pode remover suas CONTRIBUIÇÕES a partir 
    do SITE a qualquer momento, no entanto esta funcionalidade poderá não estar disponível para todas as suas CONTRIBUIÇÕES. O REURBANO pode manter arquivadas 
    cópias de suas CONTRIBUIÇÕES. O REURBANO não requer qualquer propriedade sobre suas CONTRIBUIÇÕES, mas sim, como acordo entre as partes, sem prejuízo dos 
    direitos concedidos a nós no presente Acordo, você mantém a propriedade plena de todas as suas contribuições e quaisquer direitos de propriedade intelectual 
    ou outros direitos de propriedade associados suas CONTRIBUIÇÕES.
</p>
<p>
    O REURBANO tem o direito, a seu único e exclusivo critério, a (i) editar, redigir ou alterar quaisquer CONTRIBUIÇÕES, (ii) re-categorizar todas as 
    CONTRIBUIÇÕES para colocá-los em locais mais adequados ou (iii) pré-selecionar ou excluir qualquer CONTRIBUIÇÕES que estão determinados a ser 
    impróprio ou em violação do presente Acordo.

</p>
<h2>Cancelamento do cadastro de USUÁRIOS</h2>
<p>
    Não é permitida a utilização de nenhum dispositivo, software, ou outro recurso que venha a interferir nas atividades e operações do REURBANO, 
    bem como nas publicações dos anúncios dos VENDEDORES, descrições, contas ou seus bancos de dados. Qualquer intromissão, tentativa de, ou atividade 
    que viole ou contrarie as leis de direito de propriedade intelectual e/ou as proibições estipuladas nestes Termos e Condições de Uso, tornarão o responsável 
    passível das ações legais pertinentes, bem como das sanções aqui previstas, sendo ainda responsável pelas indenizações por eventuais danos causados.
</p>
<p>
    Sem prejuízo de outras medidas, o REURBANO poderá advertir, suspender ou cancelar, temporária ou definitivamente, a conta de um USUÁRIO a qualquer tempo, 
    e iniciar as ações legais cabíveis se: a) o USUÁRIO não cumprir qualquer dispositivo destes Termos e Condições de Uso; b) se descumprir com as obrigações de 
    USUÁRIO; c) se praticar atos fraudulentos ou dolosos; d) se não puder ser verificada a identidade do USUÁRIO ou qualquer informação fornecida por ele esteja 
    incorreta; e) se o REURBANO entender que os anúncios ou qualquer atitude do USUÁRIO tenham causado algum dano a terceiros ou ao próprio REURBANO ou tenham a 
    potencialidade de assim o fazer. Nos casos de inabilitação do cadastro do USUÁRIO, todas as compras de CUPONS ativas serão automaticamente canceladas. 
    O REURBANO reserva-se o direito de, a qualquer momento e a seu exclusivo critério, solicitar o envio de documentação pessoal.
</p>
<h2>Modificações dos Termos e Condições de Uso</h2>
<p>
    O REURBANO poderá alterar, a qualquer tempo, os Termos e Condições de Uso, visando seu aprimoramento e melhoria dos serviços prestados. Os novos Termos 
    e Condições de Uso entrarão em vigor a partir de sua publicação no SITE. No prazo de 24 (vinte e quatro) horas contadas a partir da publicação das 
    modificações, o USUÁRIO deverá comunicar-se por e-mail, caso não concorde com os Termos e Condições de Uso alterado. Nesse caso, o vínculo contratual 
    deixará de existir, desde que não haja contas ou dívidas em aberto em nome do USUÁRIO. Não havendo manifestação no prazo estipulado, entender-se-á que o 
    USUÁRIO aceitou tacitamente os novos Termos e Condições de Uso e o contrato continuará vinculando as partes.
</p>
<p>
    As alterações não vigorarão em relação a Compromissos e aquisições já realizados no SITE ao tempo em que as mesmas alterações sejam publicadas. Para estes, os 
    Termos e Condições de Uso valerão com a redação anterior.
</p>
<h2>Privacidade da Informação</h2>
<p>
    O REURBANO tomará todas as medidas possíveis para manter a confidencialidade e a segurança descritas nesta cláusula, porém não responderá por prejuízo 
    que possa ser derivado da violação dessas medidas por parte de terceiros que utilizem as redes públicas ou a internet, subvertendo os sistemas de segurança 
    para acessar as informações de USUÁRIOS.
</p>
<p>
    Em caso de dúvidas sobre a proteção a dados pessoais, ou para obter maiores informações sobre dados pessoais e os casos nos quais poderá ser quebrado o 
    sigilo de que trata esta cláusula, consultar faleconosco@reurbano.com.br
</p>
<p>
    O USUÁRIO reconhece e concorda que quaisquer perguntas, comentários, sugestões, ideias ou outras informações sobre o SITE ou os serviços do REURBANO 
    ("SUBMISSÕES") fornecido pelo USUARIO ao REURBANO não são confidenciais e, o REURBANO (bem como qualquer representante da empresa) terá direito ao uso 
    irrestrito e divulgação desses Envios para qualquer finalidade, comercial ou outro, sem reconhecimento ou compensação para o USUÁRIO.
</p>
<h2>Responsabilidades</h2>
<p>
    O REURBANO não é o proprietário dos produtos e/ou serviços ofertados pelos USUÁRIOS e não realiza Ofertas em seu nome. Tampouco intervém na entrega e/ou 
    uso dos produtos e/ou serviços cuja aquisição ocorra através do website.
</p>
<p>
    O REURBANO recomenda que toda transação seja realizada com cautela e bom senso. O USUÁRIO deverá sopesar os riscos da aquisição dos CUPONS.
</p>
<p>
    Tendo em vista, ainda, a impossibilidade de funcionamento integral e ininterrupto de qualquer sistema de telecomunicação ou de informática, durante 365 dias 
    por ano, 24 horas por dia, nesta situação de fragilidade também se incluindo, em razão de sua complexidade, a disponibilização dos serviços objeto do presente 
    Contrato, inclusive em razão da dependência de serviços de telecomunicações prestados por terceiros, o REURBANO não garante, de nenhuma forma, a prestação do 
    serviço de forma ininterrupta e/ou isenta de erros.
</p>
<p>
    Se existir uma disputa entre os USUÁRIOS, um USUÁRIO e um SITE EMISSOR ou um USUÁRIO e um ESTABELECIMENTO, o USUÁRIO entende e concorda que O REURBANO não 
    é obrigado a se envolver. No caso de uma disputa, O USUARIO decide liberar o REURBANO, seus administradores, funcionários, agentes e sucessores dos direitos 
    de reclamações, exigências e danos (diretos e consequencias) de qualquer tipo ou natureza, conhecidos ou desconhecidos, suspeitos e insuspeitos, divulgados e não 
    divulgados, decorrentes ou de alguma forma relacionadas a tais disputas e / ou a serviços do REURBANO.
</p>
<p>
    O REURBANO se reserva o direito de a qualquer momento, modificar ou descontinuar, temporariamente ou permanentemente, a os serviços oferecidos (ou qualquer 
    parte deles) com ou sem aviso prévio. O USUÁRIO concorda que o REURBANO não será responsabilizado pelo USUÁRIO ou por terceiros por qualquer modificação, suspensão 
    ou interrupção dos serviços do REURBANO.
</p>
<h2>Gestão do SITE</h2>
<p>
    O REURBANO se reserva o direito, mas não tem a obrigação de:
<ul>
    <li>monitorar o SITE por violação do presente Acordo;</li>
    <li>tomar medidas legais apropriadas contra qualquer pessoa que, a critério exclusivo do REURBANO, viole o presente Acordo, incluindo, sem limitação, denunciar os 
        USUÁRIOS para às autoridades policiais;</li>
    <li>a exclusivo critério do REURBANO e sem limitação, recusar, restringir o acesso ou disponibilidade, ou desativar (na medida tecnicamente possível) 
        CONTRIBUIÇÕES de qualquer USUÁRIO ou qualquer parte dela que possa violar este Contrato ou qualquer política do REURBANO;</li>
    <li>a exclusivo critério do REURBANO e sem limitação, comunique ou se responsabilize para retirar do site ou desabilitar todos os arquivos e conteúdos que são 
        excessivas em tamanho ou em qualquer outra forma onerosa para os sistemas do REURBANO;</li>
    <li>encerrar as contas de infratores reincidentes, e</li>
    <li>gerenciar o SITE de uma maneira destinada a proteger os direitos e a propriedade do REURBANO e outros, e para facilitar o bom funcionamento do SITE.</li>
</ul>
</p>
<h2>Escopo dos serviços</h2>
<p>
    Estes Termos e Condições de Uso não geram nenhum contrato de sociedade, de mandato, franquia ou relação de trabalho entre o REURBANO e o USUÁRIO. O USUÁRIO manifesta 
    ciência de que o REURBANO não é parte de nenhuma transação, nem possui controle algum sobre a qualidade e a segurança dos produtos e/ou serviços referenciados nos 
    CUPONS. O REURBANO não garante a veracidade da publicação de terceiros que apareça em seu SITE e não será responsável pela correspondência ou contratos que o USUÁRIO 
    realize com. O REURBANO não se responsabiliza por qualquer dano, prejuízo ou perda no equipamento do USUÁRIO causado por falhas no sistema, no servidor ou na internet 
    decorrentes de condutas de terceiros. O REURBANO também não será responsável por qualquer vírus que possa atacar o equipamento do USUÁRIO em decorrência do acesso, 
    utilização ou navegação no SITE na internet; ou como conseqüência da transferência de dados, arquivos, imagens, textos ou audio. Os USUÁRIOS não poderão atribuir ao 
    REURBANO nenhuma responsabilidade nem exigir o pagamento por lucro cessante em virtude de prejuízos resultantes de dificuldades técnicas ou falhas nos sistemas ou na 
    internet. Eventualmente, o sistema poderá não estar disponível por motivos técnicos ou falhas da internet, ou por qualquer outro evento fortuito ou de força maior 
    alheio ao controle do REURBANO.
</p>
<h2>Propriedade Intelectual</h2>
<p>
    O uso comercial da expressão "REURBANO" como marca, nome empresarial ou nome de domínio, bem como os conteúdos das telas relativas aos serviços do REURBANO assim 
    como os programas, bancos de dados, redes e arquivos, que permitem que o USUÁRIO acesse e use sua conta, são propriedade do REURBANO e estão protegidos pelas leis 
    e tratados internacionais de direito autoral, marcas, patentes, modelos e desenhos industriais. O uso indevido e a reprodução total ou parcial dos referidos 
    conteúdos são proibidos, salvo a autorização expressa do REURBANO.
</p>
<p>
    O SITE pode linkar outros sites da rede o que não significa que esses sites sejam de propriedade ou operados pelo REURBANO. Não possuindo controle sobre esses sites, 
    o REURBANO não será responsável pelos conteúdos, práticas e serviços ofertados nos mesmos. A presença de links para outros sites não implica relação de sociedade, de 
    supervisão, de cumplicidade ou solidariedade do REURBANO para com esses sites e seus conteúdos.

</p>
<h2>Indenização</h2>
<p>
    O USUÁRIO indenizará o REURBANO, suas filiais, empresas controladas ou controladoras, diretores, administradores, colaboradores, representantes e empregados por 
    qualquer demanda promovida por outros usuários ou terceiros decorrentes de suas atividades no site ou por seu descumprimento dos Termos e Condições de Uso ou 
    pela violação de qualquer lei ou direitos de terceiros, incluindo honorários de advogados.
</p>
<h2>Foro e legislação aplicável</h2>
<p>
    Todos os itens deste Termos e Condições de Uso estão regidos pelas leis vigentes na República Federativa do Brasil. Para todos os assuntos referentes à sua 
    interpretação e cumprimento, as partes se submeterão ao Foro Central da Cidade de São Paulo, exceção feita a reclamações apresentadas por USUÁRIOS que se 
    enquadrem no conceito legal de consumidores, que poderão submeter ao foro de seu domicílio.
</p>

</div>

<div class='clear'></div>
{% endblock content %}  