/*Fonte para a linha abaixo: http://www.vcarrer.com/2009/06/1-line-css-grid-framework.html */
.dp50 {width:50%;  float:left;  display: inline;  *margin-right:-1px; }
/* Geral */
body {
  font-family: arial,helvetica,freesans,sans-serif;
  background-color: #FFF;
  color: #666;
  background: url(../images/header/bg.png) repeat-x;
}

a {
  color: #2072A5;
  text-decoration: none;
}

a:hover {
  color: #D87D08;
}

strong
{
    font-weight: bold;
}

em
{
    font-style: italic;
}

h1, h2, h3
{
    color: #666;
    margin: 10px 0;
}
h1 span, h2 span, h3 span{color:#000;}
#closeNL{margin-top:6px;}
.closeAlert, #closeNL{float: right; background: url('../images/sprite.png') no-repeat -4px -26px; width: 30px; height: 30px; text-indent: -9999em; overflow: hidden; outline: none;}
.closeAlert:hover, #closeNL:hover{background-position: -4px -56px;}
.alert{
    color: #FFF;
    height: 40px;
    display: none;
    font-size: 1.2em;
}
.alert div.container_12 {
    height: 26px;
    padding: 7px 0;
}
.alert_error{
      background: #a60000;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb0000', endColorstr='#a60000');
      background: -webkit-gradient(linear, left top, left bottom, from(#eb0000), to(#a60000));
      background: -moz-linear-gradient(top, #eb0000, #a60000);
}
.alert_success{
      background: #007b03;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08b40d', endColorstr='#007b03');
      background: -webkit-gradient(linear, left top, left bottom, from(#08b40d), to(#007b03));
      background: -moz-linear-gradient(top, #08b40d, #007b03);   
}
.alert_notice{
      background: #00388b;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#146aea', endColorstr='#00388b');
      background: -webkit-gradient(linear, left top, left bottom, from(#146aea), to(#00388b));
      background: -moz-linear-gradient(top, #146aea, #00388b);   
}
.noBG{background: transparent; border: 0; text-shadow:none;}
.hidden{display: none;}
span.arrow{float: left; background: url('../images/sprite.png') no-repeat -5px -3px; width: 30px; height: 19px; margin-top: 5px; margin-right: 10px;}
.floatL{float: left}
.floatR{float: right}
.m0{margin: 0;}
.m5{margin: 5px;}
.mT5{margin-top: 5px;}
.mB5{margin-bottom: 5px;}
.m10{margin: 10px;}
.mT10{margin-top: 10px;}
.mB10{margin-bottom: 10px;}
.aC{text-align: center;}
.aL{text-align: left;}
.aR{text-align: right;}
.strong{font-weight: 700;}

.info{
    background: #f2f2f2 url('../images/info.png') 5px center no-repeat;
    padding: 3px 3px 3px 30px;
    font-size: 12px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #dfdfdf;
    margin-bottom: 10px;
    

}

.loading, .ac_loading{background: #f2f2f2 url('/bundles/mastopsystem/images/load.gif') center center no-repeat !important}

/* Tabelas */
table{width: 100%;}
th{padding: 5px; font-weight: 700; border-bottom: 2px solid #878787; text-align: center; white-space: nowrap;}
td{padding: 3px;}

/*/Geral */

/* Header */
#labelNL{color: #FFF; font-size: 1.2em; float: left; line-height: 30px; margin-right: 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);}
#topNL{
  background: #c770008;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8C00', endColorstr='#c77000');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#FF8C00), to(#c77000));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #FF8C00, #c77000);
  /* for firefox 3.6+ */
  height: 40px;
  display: none;
}
#cityNL{width: 200px;}
#mailNL{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 15px;
    margin-left: 5px;
    height: 23px;
    margin-top: -5px;
}
#mailNL.idleField{
    color: #999;
    border: 2px solid #DF7F06;
    padding: 1px 1px 1px 9px;
    background: #FFF;
}
#mailNL.focusField{
    color: #666;
    border: 2px solid #c56e00;
    padding: 1px 1px 1px 9px;
    background: #fff4e6;
}
#formNL{padding: 5px 0; height: 30px;}
#hd_wrap { /* Div que cobre todo o header */

}
#hd {/* Div que cobre o header 960 */}


#logo {height: 87px;}
#logo a{height: 87px; width: 380px; float: left; background: url(../images/header/ReUrbano.png) no-repeat; text-indent: -9999em; overflow: hidden;}
#cities{height: 58px; line-height: 40px;}
#login{height: 28px; text-align: right;}
#menuTop, #menuMain{height: 34px;}
#menuMain{}
#breadcrumbs{height: 25px; padding-top: 10px;}
#breadcrumbs div{float: left; margin-right: 5px;}
#breadcrumbs div span{font-weight: 700; font-size: 1.1em;}
#breadcrumbs div a span{font-weight: 400;}
#bannerHome{height: 335px; margin-top: 25px;}

#menuTop ul{margin: 3px 0; float: right; font-size: 1.1em; font-weight: 700}
#menuTop ul li{float: left; margin-left: 10px; list-style: none outside none;}
#menuTop ul li a{color: #2072a5; border: 0;}
#menuTop ul li.current a{color: #7A9D24; text-decoration: none;}
#menuTop ul li a:hover{color: #D87D08; text-decoration: none; background: transparent;}
#headUser{text-align: right; margin-top: 5px; height: 32px;}
#headUser span{margin-right: 5px}

#search{height: 83px;}
#search form{margin-left: 45px; height: 65px; padding-top: 18px;}
#searchDiv{float: right; position: relative; width: 400px;}
#searchDiv button{position: absolute; right: 3px; margin-top: 6px;}
#search #q{width: 317px; padding-left: 10px; height: 29px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	font-size: 15px;
}
#search #q.idleField{
    color: #999;
    border: 1px solid #d9d9d9;
    padding: 2px 72px 2px 10px;
    background: #f6f6f6;
}
#search #q.focusField{
    color: #666;
    border: 2px solid #d9d9d9;
    padding: 1px 71px 1px 9px;
    background: #FFF;
}
.twLoginBtn, .fbLoginBtn{margin-top: 5px; float: left; background: url('../images/sprite.png') no-repeat; width: 136px; height: 22px; text-indent: -9999em; overflow: hidden; line-height: 500px;}
.twLoginBtn{background-position: -181px -31px;}
.twLoginBtn:hover{background-position: -181px -4px;}
.fbLoginBtn{background-position: -41px -31px; margin-left: 5px;}
.fbLoginBtn:hover{background-position: -41px -4px;}

/* Lista e Combo de Cidades */
#cityLabel{
    font-weight: 700;
    font-size: 1.1em;
    margin-top: 5px;
    float: left;
}
#cityCombo{
    font-size: 1.5em;
    margin: 10px 0 0 10px;
    float: left;
    width: 270px;
}
#cityCombo a{
    color: #999;
}


#listCities{
    background: #15567F;
    box-shadow: 0 -2px 2px #0D0D0D;
    padding: 5px 10px;
    width: 920px;
    float: left;
    margin: 0 10px 10px 10px;
    display: none;
}
#listCities h2{
    color: #FFF;
    font-size: 1.3em;
    margin-bottom: 0.5em;;
}
#listCities ul{
    list-style: none outside none;
    margin: 0;
}
#listCities ul li{
    float: left;
    width: 20%;
    line-height: 22px;
    margin: 0;
}
#listCities ul li a{
    background: #6c9ab7;
    color: #003454;
    display: block;
    border: 1px solid #71a4c5;
    margin: 3px;
    padding: 1px 3px;
    font-weight: 700;
}
#listCities ul li a:hover{
    background: #FFF;
    color: #15567F;
    border: 1px solid #2090D6;
}
#listCities ul li a.selected{
    background: #FFF;
    color: #666;
    border: 1px solid #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
#sellButton{

}
#sellButton a{
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(199, 112, 0, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(199, 112, 0, 0.4);
    box-shadow: 0 1px 3px rgba(199, 112, 0, 0.4);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    height: 14px;
    width: 118px;
    padding: 10px;
    text-align: center;
}
/* /Header */

/* Body */
#bd_wrap { /* Div que cobre todo o Body */
  padding-bottom: 1em;
  margin-top: 10px;
}
#bd {
    /* Div que cobre o body 960 */
    min-height: 400px;
    background: #FFF;
}

#navbar {
	float: right;
	top: 60px;
        width: 450px;
}

#navbar a {
	border: none;
	border-left:1px solid #DDDDDD;
	font-size:1em;
	padding:0.5em 1em;
	text-decoration:none;
	color:		#E7E5E5; 
	background: none;
}

#navbar a.first {
	border:0 none;
}

#navbar a:hover { text-decoration: none; }
#navbar a:visited { text-decoration: none; }
#navbar a:active { text-decoration: none; }
#navbar a.active { 
   border-bottom: 3px solid #222;
}

/*Lista de Deals*/
.dealBox{}
.dealBox hr{height:1px; border-width:0; background-color:#D4D4D4; width: 100%; margin: 10px auto;}
.deal{margin:5px 0;}
.deal .dealTitle { margin-top: 3px}
.deal .dealTitle a{font-size: 15px; font-weight: 700; line-height: 18px;}
.deal .dealTitle a:hover{text-decoration: none;}
.deal .dealThumb {position: relative;}
.deal .dealThumb a{width: 140px; height: 100px; float: left; overflow: hidden;}
.deal .dealThumb a img{width: 140px; height: 100px;}

span.discount{
    color: #FFF;
    font-weight: 700;
    left: 0;
    top:0;
    padding: 4px 5px;
    position: absolute;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-right-radius: 7px;
}
span.discount.gray{background: #999;}
span.discount.blue{background: #15567F;}
span.discount.green{background: #587906;}
span.discount.orange{background: #D87D08;}

div.deal.gray .dealTitle a{color: #999}
div.deal.gray .dealTitle a:hover{color: #888}
div.deal.blue .dealTitle a{color: #15567F}
div.deal.blue .dealTitle a:hover{color: #114566}
div.deal.green .dealTitle a{color: #587906}
div.deal.green .dealTitle a:hover{color: #4C6805}
div.deal.orange .dealTitle a{color: #D87D08}
div.deal.orange .dealTitle a:hover{color: #BF6C07}

div.gray .price strong{color: #999}
div.blue .price strong{color: #15567F}
div.green .price strong{color: #587906}
div.orange .price strong{color: #D87D08}

div.deal.gray.over{background-color: #EDEDED;}
div.deal.blue.over{background-color: #DEF0FC}
div.deal.green.over{background-color: #f5fce2}
div.deal.orange.over{background-color: #fff4e3}

div.priceSource{text-align: right; margin: 3px 10px 0 0}
div.priceSource strong{text-decoration: line-through}
div.price{text-align: right; margin: 0 10px 0 0}
div.price strong{font-size: 1.7em; color:#7A9D24;}
div.expires{font-size: 0.9em;}
div.buyNow{text-align: right; margin: 3px 10px 0 0}
div.dealSource, div.dealCity, div.dealExpires, div.dealQtd{font-size: 11px;}
div.dealQtd{text-align: right; margin: 0 10px 0 0}
div.dealSource{text-align: center;}
div.dealCity {font-weight: 700; color: #333;}
div.dealCity span, span.brFlag{padding-left: 17px; background: url(../images/flag.png) center left no-repeat;}
div.dealAddress {font-size: 11px}

/*Blocos*/
div.block{
    -moz-box-shadow: 0 0 5px #D4D4D4;
    -webkit-box-shadow: 0 0 5px #D4D4D4;
    box-shadow: 0 0 5px #D4D4D4;
    border:1px solid #D4D4D4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 15px;
}
div.blockTitle{
    font-weight: 700;
    padding: 5px;
    border-bottom: 1px solid #D4D4D4;
    background-color: #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e4e4e4');
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e4e4e4));
    background-image: -moz-linear-gradient(#ffffff, #e4e4e4);
    background-image: -o-linear-gradient(#ffffff, #e4e4e4);
    background-image: linear-gradient(#ffffff, #e4e4e4);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
div.blockContent{
    margin: 5px 3px;
}
div.blockContent div.deal{
    margin: 5px;
}
div.blockContent div.dealThumb a{
    margin: 0 5px 5px 0;
}
div.blockContent div.dealThumb a img, div.blockContent div.dealThumb a{
    height: 60px;
    width: 80px;
}
div.blockContent span.discount{
    font-weight: 400;
    font-size: 0.9em;
    padding: 2px 3px;
}
div.blockContent div.dealTitle a{
    font-weight: 400;
    font-size: 0.9em;
}
/* Blocos Topo */
div.blockTop{
    -moz-box-shadow:inset 0 0 5px #D4D4D4;
    -webkit-box-shadow:inset 0 0 5px #D4D4D4;
    box-shadow:inset 0 0 5px #D4D4D4;
    margin-bottom: 25px;
    min-height: 330px;
}
div.blockTopTitle{
    font-weight: 700;
    font-size: 1.2em;
    padding: 10px 0 3px 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
div.blockTopContent{
    margin: 5px;
}
div.blockTopContent div.dealTitle{
    margin-bottom: 10px;
}

div.blockTopContent div.deal{
    padding: 5px;
}
div.blockTopContent div.dealThumb a{
    margin: 0 10px 10px 0;
}
div.blockTopContent div.dealInfos{
    margin-right: 20px;
    float: right;
    margin-top: 10px;
}
div.blockTopContent div.price strong{
    font-size: 2em;
}
div.blockTopContent div.price, div.blockTopContent div.priceSource{
    text-align: center;
}
div.blockTopContent div.buyNow a{
    font-size: 1.5em;
}
div.blockTopContent div.buyNow{margin-top: 10px}
div.blockTopContent div.buyNow, div.blockTopContent div.buyNow, div.blockTopContent div.buyNow, div.blockTopContent div.dealQtd{
    font-size: 1em;
    text-align: center;
}
div.blockTopContent div.dealThumb a img, div.blockTopContent div.dealThumb a{
    width: 250px;
    height: 179px;
}
div.blockTopContent span.discount{
    font-weight: 700;
    font-size: 1.2em;
    padding: 3px 4px;
}
div.blockTopContent div.dealExpires{
    text-align: right;
}

/*Bloco Facebook*/
#facemask {
	background: url(../images/facemask.png) 0 -20px no-repeat;
	height: 300px;
        width: 300px;
	display: block;
	position: relative;
        text-indent: -999em;
	z-index: 20;
	margin: 0 0 -300px;
        -webkit-transition:background-color 0.15s ease-in;
	-moz-transition:background-color 0.15s ease-in;
	-o-transition:background-color 0.15s ease-in;
	transition:background-color 0.15s ease-in;
        overflow: hidden;
}
#facemask:hover {
	background-color: rgba(255, 255, 255, 0.5);
}
/*Bloco do Twitter*/
#twitterBlock{
    width: 300px;
    height: 137px;
    display: block;
    text-indent: -999em;
    background: url(../images/twitter-bloco.gif) no-repeat;
    overflow: hidden;
}
/* Forms */
input.errorField {
    border-color: #F00 !important;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="text"],input[type="password"],input[type="email"],input[type="number"],textarea{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 3px 0;
    width: 200px;
}
input.idleField, textarea.idleField{
    color: #999;
    border: 1px solid #d9d9d9;
    padding: 3px 3px 3px 5px;
    background: #f6f6f6;
}
input.focusField, textarea.focusField{
    color: #666;
    border: 2px solid #d9d9d9;
    padding: 2px 2px 2px 4px;
    background: #FFF;
}
input.small, textarea.small{width: 50px;}
input.medium, textarea.medium{width: 350px;}
input.big, textarea.big{width: 460px;} /* O suficiente para caber em um grid_6 */
label{
    font-weight: 700;
    display: block;
    margin: 3px 0;
}
label small{
    font-weight: 400;
    display: block;
    font-size: 0.9em;
}
label input{
    float: left;
    margin-top: 1px;
}

#paymentForm{text-align: center; margin-top: 30px;}

/* Página do Deal */
#dealTitle{font-size: 20px; margin: 0; line-height: 1.1em;}
#dealShare{text-align: right; margin-bottom: 15px;}
#dealThumb{position: relative;}
#dealThumb img{width: 380px;}
#dealThumb span.discount{font-size: 2em;}
#dealPrices {margin: 10px 0;}
#dealPrices div.priceSource, #dealPrices div.price, #dealPrices div.buyNow, #dealInfos div.dealSite{text-align: center;}
#dealPrices div.priceSource strong{font-size: 1.3em;}
#dealPrices div.price strong{font-size: 2.5em;}
#dealPrices div.buyNow a{font-size: 2em;}
#dealInfos div.dealQtd, #dealInfos div.dealExpire{text-align: center; font-size: 15px;}
#dealInfos strong{font-size: 1.2em;}
#dealInfos div.dealSite{margin-top:10px;}
#dealRules {
    border-left: 1px solid #D4D4D4;
    padding-left: 5px;
}
#dealRules ul{
    list-style: square outside;
}
#dealRules ul li{
    margin-left: 20px;
}
#dealDetails img{
    max-width: 370px;
}
#dealDetails h2, #dealRules h2{
    font-size: 16px;
}
#dealDetails h3{
    font-size: 13px;
}
/* Cart */
table#dealCart{
    width: 90%;
    margin: 0 auto;
}
table#dealCart td{
    vertical-align: middle;
}
/* Login e Register Boxes*/
#login_register_box{
    border-left: 1px solid #D4D4D4;
    padding-left: 80px;
}
/* /Body */

/* Footer */
#ft_wrap { /* Div que cobre todo o Footer */
  background: url(../images/footer/bg.png) repeat-x;
}
#ft {/* Div que cobre o footer 960 */}
#ftBelt{height: 118px; margin-bottom: 15px;}
#ftBelt a{width: 300px; height: 118px; float: left; background: url(../images/footer/ReUrbano.png) no-repeat; text-indent: -9999em; overflow: hidden;}
#navFoot{text-align: left; border-bottom: 1px solid #BBB; margin-bottom: 10px;}
#navFoot ul li{list-style: none outside none; margin-left: 15px;}

#copyright {text-shadow: 1px 1px 0 #FFF;color: #999;}
#poweredBy{text-align: right;}
#poweredBy a{width: 177px; height: 28px; float: right; background: url(../images/footer/mastop-internet-development.png) no-repeat; line-height: 999em; overflow: hidden;}
/* /Footer */