#navbar {
  font: Arial,Helvetica,sans-serif;
}

#nav {
  margin: 0;
  padding: 7px 20px 0;
  line-height: 100%;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  background: #999;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a9a9', endColorstr='#7a7a7a');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#a9a9a9), to(#7a7a7a));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #a9a9a9, #7a7a7a);
  /* for firefox 3.6+ */
  border: solid 1px #999;
}
#nav li {
  margin: 0 2% 0 0;
  padding: 0 0 6px;
  float: left;
  position: relative;
  list-style: none;
}
#nav li.last {
  margin: 0;
  float: right;
}
#nav a {
  border: none;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 4px 8px;
  margin: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#nav .current a, #nav li:hover > a {
  background: #d1d1d1;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8C00', endColorstr='#D87D08');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#FF8C00), to(#D87D08));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #FF8C00, #D87D08);
  /* for firefox 3.6+ */
  color: #FFF;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
  background: none;
  border: none;
  color: #666;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

#nav ul a:hover {
  background: #0399d4 !important;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04acec', endColorstr='#0186ba');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important;
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #04acec, #0186ba) !important;
  /* for firefox 3.6+ */
  color: #fff !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* level 2 list */
#nav ul {
  background: #ddd;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cfcfcf));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, white, #cfcfcf);
  /* for firefox 3.6+ */
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 35px;
  left: 0;
  border: solid 1px #b4b4b4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* dropdown */
#nav li:hover > ul {
  display: block;
}

#nav ul li {
  float: none;
  margin: 0;
  padding: 0;
}

#nav ul a {
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
}

/* level 3+ list */
#nav ul ul {
  left: 181px;
  top: -3px;
}

/* rounded corners for first and last child */
#nav ul li:first-child > a {
  -webkit-border-top-left-radius: 9px;
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-right-radius: 9px;
  -moz-border-radius-topright: 9px;
}

#nav ul li:last-child > a {
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius-bottomleft: 9px;
  -webkit-border-bottom-right-radius: 9px;
  -moz-border-radius-bottomright: 9px;
}

/* clearfix */
#nav:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#nav {
  display: inline-block;
}

html[xmlns] #nav {
  display: block;
}

* html #nav {
  height: 1%;
}
