#bannerSlides {
	width:800px;
	height:302px;
	position:relative;
        margin: auto;
        background: #FFF;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-3px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:900px;
	height:361px;
	top:-18px;
	left:-90px;
}

/*
	Slideshow
*/

#slides {
	position:absolute;
	z-index:100;
        background: #FFF;
        border: 1px solid #e9e9e9;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:800px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container .slide {
	width:800px;
	height:270px;
        cursor: pointer;
	display:block;
}

.slides_container a img {
	display:block;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:130px;
	left:-21px;
	width:19px;
	height:21px;
	display:block;
	z-index:101;
        outline: none;
}

#slides .next {
	left:802px;
}

/*
	Pagination
*/

.pagination {
	margin:0 auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:10px 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/slides/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
        outline: none;
}

.pagination li.current a {
	background-position:0 -12px;
}
.pagination li.current a:active, .pagination li.current a:focus {
	outline: none;
}

/* Banner de Oferta */
div.bannerDeal div.dealThumb{
    width: 375px;
    height: 270px;
    float: left;
    position: relative;
}
div.bannerDeal div.dealThumb img{
    width: 370px;
    height: 265px;
    margin: 5px 0 0 5px;
}
div.bannerDeal span.discount{
    right: 0;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-left-radius: 7px;
    font-size: 1.5em;
    font-weight: 700;
    padding: 5px;
    left: inherit;
}
div.bannerDeal h2{
    float: right;
    width: 400px;
    margin: 5px 10px;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.3em;
}

div.bannerDeal h2.gray{color: #999}
div.bannerDeal h2.blue{color: #15567F}
div.bannerDeal h2.green{color: #587906}
div.bannerDeal h2.orange{color: #D87D08}

div.bannerDeal div.dealInfos{
    float: right;
    width: 400px;
    margin-top: 10px;
}

div.bannerDeal div.priceSource, div.bannerDeal div.price, div.bannerDeal div.buyNow, div.bannerDeal div.dealQtd{
    text-align: center;
}
div.bannerDeal div.price strong{
    font-size: 2em;
}
div.bannerDeal div.buyNow{
    margin-top: 20px;
}
div.bannerDeal div.buyNow a{
    font-size: 1.6em;
}