{% extends '::backend.html.twig' %}
        
{% block title %}Fernando - Teste{% endblock %}


{% block content %}
<h1>Admin Area! Data: {{ data }}</h1>
<form action="{{ path('_teste_admin') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock %}