{% extends '::frontend.html.twig' %}

{% block title %}{{cat.getName}} em {{app.session.get('reurbano.user.cityName')}}{% endblock %}

{% block content %}
<div class="grid_9">
{% render 'ReurbanoDealBundle:Widget\\Deal:render' with{'cat': cat.id, 'limit': mastop_param('deal.all.perpage'), 'orderBy': app.request.cookies.get('dealsort')|default(mastop_param('deal.all.dealsort'))} %}
</div>
<div class="grid_3">
{% render 'ReurbanoCoreBundle:Widget\\Block:render' with{'area': 'category', 'opts': {'cat': cat.id}} %}
</div>
{% endblock %} 