{% extends '::frontend.html.twig' %}

{% block title %}Teste{% endblock %}

{% block content %}
<div class="grid_9">
{% render 'ReurbanoDealBundle:Widget\\Deal:render' with {'cat': cat.getId} %}
</div>
<div class="grid_3">
Bloco Lateral
</div>
{% endblock %} 