{% extends '::backend.html.twig' %}

{% set vars = city.getId() ? {'slug': city.getSlug()} : {} %}

{% block content %}
<div class="content box grid_12 round_all">
    <form class="block" action="{{ path('admin_core_city_form', vars) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
            <div class="block"><button class="button green m10"><span>Salvar</span></button> <a class="button red" href="#" onclick="javascript:history.go(-1); return false;">Cancelar</a></div>
    </form>
</div>
{% endblock %}