{% extends '::frontend.html.twig' %}

{% block title %}{{title|trans}}{% endblock %}

{% block content %}
    <form action="{{ path('deal_sell_index') }}" method="post" {{form_enctype(form)}}>
        {{ form_widget(form) }}
        
        <input type="submit" value="Comentar"/>
    </form>
{% endblock %}
