{% extends '::frontend.html.twig' %}
        
{% block title %}Home do Site{% endblock %}


{% block content %}
<h1 class="grid_4">Esta é a Home do site.</h1>
<p class="grid_8">Edite em <strong>Mastop\SystemBundle\Resources\views\Home\index.html.twig</strong></p>
{% endblock %}