<table class="static">
    <thead>
        <tr>
            <th colspan="2">{{ "Descrição"|trans }}</th>
            <th>{{ "Validade"|trans }}</th>
            <th>{{ "Preço"|trans }}</th>
            <th class="center">{{ "Quantidade"|trans }}</th>
        </tr>
    </thead>
</table>