{% extends '::frontend.html.twig' %}
{% block content %}
<h1>{{ "Troca de senha do usuario %email%"|trans({"%email%":email})}}</h1>
<form action="{{ path("user_user_recuperacaook",{'actkey':actkey}) }}" method="post">
    {{ form_widget(form) }}
    <br />
    <input type="submit" name="login" value="{{ "Trocar a senha"|trans }}"/>
</form>
{% endblock content %}  