{% extends '::frontend.html.twig' %}

{% block title %}{{ "Confirmação de cadastro"|trans }}{% endblock %}
{% block content %}
<div id="siteContent">
<div class="grid_12">
<h1>{{ "Confirmação de cadastro"|trans }}</h1>
{{ msg }}
</div>
</div>
{% endblock content %}  