{% extends '::frontend.html.twig' %}

{% block title %}{{ "Confirmação de cadastro"|trans }}{% endblock %}
{% block content %}
<h1>{{ "Confirmação de cadastro"|trans }}</h1>
{{ msg }}
{% endblock content %}  