{% extends '::frontend.html.twig' %}
{% block content %}
    <h1>{% trans with {'%username%' : usuario.getUsername() } %}user.user.view.frontend.det%username%{% endtrans %}</h1>
    {% trans with {'%name%' : usuario.getName() } %}user.user.view.frontend.name%name%{% endtrans %}
    <br />
    {% trans with {'%email%' : usuario.getEmail() } %}user.user.view.frontend.email%email%{% endtrans %}
    <br />
    {% trans with {'%created%' : usuario.getCreated() } %}user.user.view.frontend.created%created%{% endtrans %}
    <br />
    {% if  usuario.getLastLogin( )== 0 %}
        {% trans %}user.user.view.frontend.loginNever{% endtrans %}
    {% else %}
        {% trans with {'%login%' : usuario.getLastLogin() } %}user.user.view.frontend.login%login%{% endtrans %}
    {% endif %}
    <br />
{% endblock content %}  