{% extends '::frontend.html.twig' %}
{% block content %}
        <h1>{% trans %}user.user.editarNovo.new{% endtrans %}</h1>
        <form action="{{ path('_salvar_user') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
            <input type="submit" name='salvar' value='{% trans%}_SALVAR{% endtrans %}' />
            <input type="button" name='voltar' value='{% trans%}_VOLTAR{% endtrans %}' onclick="history.go(-1)" />
        </form>
{% endblock content %}  