<html>
    <body>
        {% if sucesso==true %}
            Salvo com sucesso!<br />
        {% endif %}
            
        {% if sucesso==false %}
            {% for item in erro %}
                <li>{{ item }}</li>
            {% endfor %}
        {% endif %}
        Hello salvo!
    </body>
</html>