{% extends '::frontend.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@ReurbanoCoreBundle/Resources/public/js/tabs/jquery.tools.min.css' filter='?yui_css' output='reurbano/corebundle/css/tabs.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block title %}{{title|trans}}{% endblock %}

{% block content %}
    <div>
        <!-- the tabs -->
        <ul class="tabs">
            <li><a href="#">Tab 1</a></li>
            <li><a href="#">Tab 2</a></li>
            <li><a href="#">Tab 3</a></li>
        </ul>

        <!-- tab "panes" -->
        <div class="panes">
            <div>First tab content. Tab contents are called "panes"</div>
            <div>Second tab content</div>
            <div>Third tab content</div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {% javascripts output='bundles/corebundle/js/abas.js'
                   '@ReurbanoCoreBundle/Resources/public/js/tabs/jquery.tools.min.js'
                   '@ReurbanoUserBundle/Resources/public/js/Frontend/dashboard.js'
                   %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}