{% extends '::frontend.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@ReurbanoCoreBundle/Resources/views/themes/reurbano/Frontend/css/jquery.tools.min.css' filter='?yui_css' output='reurbano/corebundle/css/tabs.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="clear"></div>
    <div class="grid_12">
        <!-- the tabs -->
        <ul class="tabs">
            {% for tabs in tabs %}
                <li>
                    <a href="#">{{tabs}}</a>
                </li>
            {% endfor %}
        </ul>

        <!-- tab "panes" -->
        <div class="panes">
            {% for pane in panes %}
                <div>
                    {% render pane %}
                    <div class='clear'></div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {% javascripts output='bundles/corebundle/js/abas.js'
                   '@ReurbanoCoreBundle/Resources/public/js/tabs/jquery.tools.min.js'
                   '@ReurbanoUserBundle/Resources/public/js/Frontend/dashboard.js'
                   %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}