{% extends '::frontend.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@ReurbanoCoreBundle/Resources/public/js/tabs/jquery.tools.min.css' filter='?yui_css' output='reurbano/corebundle/css/tabs.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block title %}{{title|trans}}{% endblock %}

{% block content %}
    <div class="clear"></div>
    <div class="grid_12">
        <!-- the tabs -->
        <ul class="tabs">
            {% a %}
            <li><a href="#">Meus Dados</a></li>
            <li><a href="#">Minhas Compras</a></li>
            <li><a href="#">Minhas Ofertas</a></li>
            <li><a href="#">Minhas Vendas</a></li>
            <li><a href="#">Meu Financeiro</a></li>
        </ul>

        <!-- tab "panes" -->
        <div class="panes">
            <div>Aqui vão os dados do cliente</div>
            <div>As compras do usúario</div>
            <div>As ofertas enviadas pelo usúario</div>
            <div>As vendas do usúario</div>
            <div>Financeiro do usúario</div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {% javascripts output='bundles/corebundle/js/abas.js'
                   '@ReurbanoCoreBundle/Resources/public/js/tabs/jquery.tools.min.js'
                   '@ReurbanoUserBundle/Resources/public/js/Frontend/dashboard.js'
                   %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}